<div class="body-content">
  <div class="card">

    <div class="card-header">
      <div class="row">
        <div class="col">
          <h4>Categorías</h4>
        </div>

        <div class="col">

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-info btn-new" data-bs-toggle="modal"(click)="showModalForm()">
            Nueva Categoría
          </button>

        </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr class="table-header">
            <th scope="col">Category Id</th>
            <th scope="col">Category</th>
            <th scope="col">Tag</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let category of categories; track category">
            <td  scope="row">{{category.category_id}} </td>
            <td>{{category.category}} </td>
            <td>{{category.tag}} </td>
            <td>
              <a *ngIf="category.status == 0" (click)="enableCategory(category.category_id)">
                <div class="td-status td-status-disable">
                  {{"inactivo"}}
                </div>
              </a>
              <a *ngIf="category.status == 1" (click)="disableCategory(category.category_id)">
                <div class="td-status td-status-enable">
                  {{"activo"}}
                </div>
              </a>

            </td>
            <td>
              <a (click)="updateCategory(category)" >
                <fa-icon [icon]="faPencil"></fa-icon>
              </a>
            </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <small>10 de Octubre de 2024</small>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" tabindex="-1" data-bs-backdrop="static" id="modalForm">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Nueva Categoría</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- header  -->

      <div class="modal-body">
        <!-- form  -->

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <!-- categoría  -->

          <div class="mb-3">
            <label for="category" class="form-label">Categoría <span class="input-required">*</span></label>
            <input type="text" class="form-control" formControlName="category" placeholder="Nombre de la categoría"
              [ngClass]="{'is-invalid': form.controls['category'].errors && submitted}">

            @if (form.controls['category'].errors && submitted) {
            <small class="input-error-message">Favor de ingresar un nombre de categoría válido</small>
            }
          </div>

          <!-- tag  -->

          <div class="mb-3">
            <label for="tag" class="form-label">Tag<span class="input-required">*</span></label>
            <input type="text" class="form-control" formControlName="tag" placeholder="Código de la categoría"
              [ngClass]="{'is-invalid': form.controls['tag'].errors && submitted}">

            @if (form.controls['tag'].errors && submitted) {
            <small class="input-error-message">Favor de ingresar un código de categoría válido</small>
            }
          </div>


          <!-- button  -->

          <div class="form-button">
            <button type="submit" class="btn btn-info btn-save">Guardar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>